.et {
    background-color: rgb(24, 168, 101);
    border-radius: 10px;
    color: white;
    box-shadow: 1px;
    border: rgb(53, 53, 53) solid 1px;
    

}

body {
    background-color: rgb(207, 233, 197);
}